#canvas {
  margin: 0.1em 0 0.1em 0.1em;
  width: 95vh;
  height: 95vh;
  display: block;
}

/* #canvas:hover{
  cursor: not-allowed;
} */

.toolContainer{
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 0.2em;
}

.translateButtonContainer{
  display: grid;
  grid-template-columns: auto auto auto;
}

.leftPane{
  width: 15em;
  margin: 1em;
}

.rightPane{
  margin: 1em;
}

.button-container{
  display : flex;
  justify-content: space-between;
}
.flex-col {
  display: flex;
  flex-direction: column;
}

.flex {
  display: flex;
}

.flex-row{
  display: flex;
  flex-direction: row;
}

.center{
  margin: 0 auto;
}
.btn.active {
  background-color: blue;
  color: white;
}